<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Signika:400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="">
    <style>
        .buttonRounded {
            border-radius: 25px;
        }
    </style>
</head>
<body>

	<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-3 mr-5 navFont" href="#">JOINTVENTURE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
            <ul class="navbar-nav col-md-5 mr-auto">
                <input class="form-control mr-sm-2 buttonRounded" type="search" placeholder="Search for adventure" aria-label="Search">
            </ul>

            <div class="navFont">
                <ul class="navbar-nav form-inline my-2 my-lg-0 mx-3">
                    <li class="nav-item active mx-2">
                        <a class="nav-link" href="#">Story<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Adventure Browser</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Create Adventure</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 80px;">
        <div class="row">   
                
            <div class="col">
                <div class="card" id="sidebar" style="margin-left: 15px">
                    <div class="card-body">
                        <h5 class="card-title"><b>Nearby Adventure</b></h5>
                        <br>
                        <img src="nearby-1.jpg" alt="..." class="rounded imgThumb">    
                        <img src="nearby-2.jpg" alt="..." class="rounded imgThumb">
                        <img src="nearby-1.jpg" alt="..." class="rounded imgThumb">             
                        <img src="nearby-2.jpg" alt="..." class="rounded imgThumb">
                        <img src="nearby-1.jpg" alt="..." class="rounded imgThumb">
                        <img src="plus.png" alt="..." class="rounded imgThumb">
                    </div>
                </div>
            </div>
        
            
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <div class="form-group">
                            <textarea class="form-control bg-light" id="postTitle" rows="1"></textarea>
                        </div>
                        <p class="card-text">Description</p>
                        <div class="form-group">
                            <textarea class="form-control bg-light" id="postContent" rows="4"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-success btn-lg buttonRounded">PUSH</button>
                        </div>
                    </div>
                    
                </div>

                <br>

                <div class="card">
                    <img class="card-img-top" src="bali.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
           
            <div class="col">                
                <div class="card" id="sidebar-right" style="margin-right: 15px">
                    <div class="card-body">
                        <h5><b>Story</b></h5>
                        <br>
                        <img src="nearby-1.jpg" alt="..." class="rounded-circle imgThumb">    
                        <img src="nearby-2.jpg" alt="..." class="rounded-circle imgThumb">
                        <img src="nearby-1.jpg" alt="..." class="rounded-circle imgThumb">             
                        <img src="nearby-2.jpg" alt="..." class="rounded-circle imgThumb">
                        <img src="nearby-1.jpg" alt="..." class="rounded-circle imgThumb">
                        <img src="plus.png" alt="..." class="rounded-circle imgThumb">
                    </div>
                </div>             
            </div>
        </div>
    </div>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>