
body {
	background-color: #f0f5ec;
    font-family: 'Signika', sans-serif;
}

button {
    color: #FFFFFF;
    background-color: #549886;
}
button:hover {
    opacity: 0.6 !important;
    transition: 0.5s;
}

a {
    color: #549886;
}

a:hover {
    color: #549886;
    opacity: 0.6 !important;
    transition: 0.5s;
    text-decoration: none;
}

i.fa {
     font-size: 2.5em; 
}

.green-text {
    color: #549886;
}
.grey-text {
    color: #959595;
}

.color-title{
    color: #449474;
}

.color-text{
    color: #7A7B7B;
}

.color-text-o{
    color: #959595;   
}


.buttonRounded {
    border-radius: 30px;
}

.card-rounded {
    border-radius: 15px;
}

.card-footer{
    background-color: #f1ecec !important;
}